<footer>
    <div class="container">
        <div class="footer-content">
            <div>
                <h3>New Vision Interior</h3>
                <p>&copy; 2023 Todos los derechos reservados.</p>
                <p>Licencia & Número: 827336</p>
            </div>
            <div>
                <h3>Ubication</h3>
                <p>Phoenix, Arizona</p>
                <p><a href="https://maps.app.goo.gl/aAvALjyBiWgDibfbA">View on the map</a></p>
            </div>
            <div>
                <h3>Contact</h3>
                <p>Phone: (+1) 602 757 7833</p>
                <p>Email: infonewvisioninterior.com</p>
            </div>
            <div class="social-icons">
                <h3>Follow us</h3>
                <a href="https://www.instagram.com/newvisioninteriors.inc?igsh=MTNrdG9hMzRjZTN4Yw==">Instagram</a>
            </div>
        </div>
    </div>
</footer>