<footer>
    <div class="container">
        <div class="footer-content">
            <div>
                <h3>New Vision Interior</h3>
                <p>&copy; 2023 Todos los derechos reservados.</p>
                <p>Licencia & Número: 827336</p>
            </div>
            <div>
                <h3>Ubicación</h3>
                <p>1234 Calle Ejemplo, Arizona</p>
                <p><a href="Contactos.html">Ver en el mapa</a></p>
            </div>
            <div>
                <h3>Contacto</h3>
                <p>Teléfono: (480) 560-6500</p>
                <p>Email: infonewvisioninterior.com</p>
            </div>
            <div class="social-icons">
                <h3>Síguenos</h3>
                <a href="#">Facebook</a>
                <a href="#">Instagram</a>
                <a href="#">Pinterest</a>
            </div>
        </div>
    </div>
</footer>