h1 {
    color: #111;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 20px;
}
h2 {
    color: #333;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 20px;
}
h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}
p {
    font-size: 18px;
    color: #444;
    max-width: 800px;
    margin: 10px auto;
    margin-bottom: 20px;
}

.categories {
    padding-top: 40px;
    display: flex;
    margin: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    
  }
  .conteiner{
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
  }
  .categories {
    padding-top: 40px;
    display: flex;
        margin: 20px;
        flex-direction: column;
        flex-wrap: nowrap;
    
  }
.categories h2 {
  font-size: 2em;
  margin-bottom: 20px;
}
.contenedor-cocina{
  display: flex;

}
  .category {
    width: 23%; /* Ajusta el ancho para que quepan cuatro elementos en una fila */
    margin-bottom: 20px;

    padding: 20px;
    text-align: center;
  }
  
  .category {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.category.visible {
    opacity: 1;
    transform: translateY(0);
}

  .category img {
    max-width: 100%;
    height: 50%;
    margin-bottom: 10px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .category h3 {
    margin-bottom: 10px;
  }
  
  .category p {
    margin-bottom: 20px;
  }
  
  .category a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .category .nuevo {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f00;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
  }
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.highlight {
    color: #FF5733;
    font-weight: bold;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
.feature {
    width: 45%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding-top: 2rem;
}
.feature i {
    color: #FF5733;
    font-size: 24px;
    margin-right: 10px;
}
.feature h3 {
    margin: 0;
    font-size: 18px;
}
.feature p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #555;
}
.transforma {
    padding: 10px; /* Reduce el padding para hacer la sección más pequeña */
    font-size: 0.9em; /* Ajusta el tamaño de la fuente si es necesario */
}

.transforma h2 {
    margin-top: 10px; /* Reduce el margen superior */
    margin-bottom: 5px; /* Reduce el margen inferior */
}

.transforma p {
    margin-top: 5px; /* Reduce el margen superior */
    margin-bottom: 5px; /* Reduce el margen inferior */
}
.transforma-info-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* Ajusta el espacio entre los elementos según sea necesario */
}

.transforma-info {
    background-color: #f9f9f9; /* Color de fondo opcional */
    padding: 20px; /* Espaciado interno opcional */
    border: 1px solid #ddd; /* Borde opcional */
    border-radius: 5px; /* Esquinas redondeadas opcionales */
}
.hero {
    background-image: url('/cocina-1.jpeg');
    background-size: cover;
    background-position: center;
    height: 60vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    margin-top: 80px;
}
.hero-content {
    background-color: rgba(0,0,0,0.5);
    padding: 40px;
    border-radius: 10px;
}
.hero h1 {
    color: #fff;
    font-size: 3em;
    margin-bottom: 20px;
}
.hero p {
    color: #b3b3b3;
    font-size: 1.2em;
    margin-bottom: 30px;
}
.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #666;
}

.contenedordudas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
   padding-bottom: 8%;
}

.texto-faq {
    flex: 1;
    max-width: 500px;
}

.titulo-faq {
    font-size: 2.5rem;
    font-weight: bold;
    color: #0D1B2A;
}

.subtitulo-faq {
    font-size: 1rem;
    color: #4A4A4A;
}

.faq {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.faq-card {
    background: white;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.faq-card:hover {
    transform: scale(1.02);
}

.pregunta {
    font-weight: bold;
    font-size: 1.1rem;
}

.respuesta {
    font-size: 0.95rem;
    color: #4A4A4A;
    margin-top: 5px;
}

.ver-mas {
    color: #E63946;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    transition: color 0.3s;
}

.ver-mas:hover {
    color: #D62828;
}


/* Main Content Styles */
main {
    padding: 90px 0;
}

.kitchen-style {
    display: flex;
    align-items: start;
    margin-bottom: 40px;
}
.kitchen-style img {
    width: 300px;
    height: 300px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
ul {
    margin-bottom: 20px;
    padding-left: 20px;
}
.containere {
    position: relative;
    max-width: 1200px;
    margin: 140px auto;
}
.image-container {
    position: relative;
}
.image-container img {
    width: 70%;
    max-width: 1000px;
    border-radius: 10px;
    display: block;
}

.image-container {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.image-container.visible {
    opacity: 1;
    transform: translateY(0);
}

.content {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.steps {
    margin-top: 20px;
}
.step {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.step-number {
    font-size: 22px;
    font-weight: bold;
    color: #FF5733;
    margin-right: 10px;
}
.step p {
    margin: 0;
    font-size: 16px;
}
/* Gallery Styles */
.contenedor {
    text-align: center; /* Centra el título */
    width: 90%;
    margin: 0 auto; /* Centra el contenido en la página */
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajusta el número de columnas según el ancho */
    gap: 20px; /* Espaciado uniforme entre imágenes */
    justify-content: center;
    padding: 20px;
}

.galeria img {
    width: 100%;
    height: 200px; /* Mantiene una altura uniforme */
    object-fit: cover; /* Asegura que las imágenes se vean bien sin deformarse */
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.galeria img:hover {
    transform: scale(1.05); /* Efecto sutil al pasar el mouse */
}


.cocina-content {
    display: flex;
        margin-bottom: 40px;
        flex-direction: column;
        align-content: flex-start;
        flex-wrap: wrap;
}
.containerr {
    max-width: 1200px;
    margin: auto;
    padding: 50px 20px;
}